html {
  color: #000000;
  background: #ffffff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
li { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before { content: ''; }
q:after { content: ''; }
abbr, acronym {
  border: 0;
  font-variant: normal;
}
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input, textarea, select { *font-size: 100%; }
legend { color: #000000; }
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small;
}
select, input, button, textarea { font: 99% arial, helvetica, clean, sans-serif; }
table {
  font-size: inherit;
  font: 100%;
}
pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}
h1 { font-size: 138.5%; }
h2 { font-size: 123.1%; }
h3 { font-size: 108%; }
h1, h2, h3 { margin: 1em 0; }
h1, h2, h3, h4, h5, h6, strong { font-weight: bold; }
abbr, acronym {
  border-bottom: 1px dotted #000000;
  cursor: help;
}
em { font-style: italic; }
blockquote, ul, ol, dl { margin: 1em; }
ol, ul, dl { margin-left: 2em; }
ol li { list-style: decimal outside; }
ul li { list-style: disc outside; }
dl dd { margin-left: 1em; }
th, td {
  border: 1px solid #000000;
  padding: 0.5em;
}
th {
  font-weight: bold;
  text-align: center;
}
caption {
  margin-bottom: 0.5em;
  text-align: center;
}
p, fieldset, table, pre { margin-bottom: 1em; }
input[type=text], input[type=password], textarea {
  width: 12.25em;
  *width: 11.9em;
}
ol li { list-style: none; }
ul li { list-style: none; }
th, td { border: none; }
input[type=text], input[type=password], textarea { width: auto; }
body {
  line-height: 1;
  font-size: 13px;
}
.clear { clear: both; }
#container { min-width: 1050px; }
#header, #page { margin: 0 40px; }
#page { padding-top: 20px; }
#footer { padding-bottom: 20px; }
.sidebar #main {
  width: 78%;
  float: left;
}
#sidebar {
  width: 21%;
  float: right;
}
#box {
  width: 500px;
  margin: 50px auto;
}
#header { position: relative; }
#header h1 {
  margin: 0;
  padding: 0.5em 0;
  font-size: 2.75em;
}
#header h1 a { text-decoration: none; }
#main .block { margin-bottom: 20px; }
#main .block .secondary-navigation {
  font-size: 1.2em;
  line-height: 1;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-top-left-radius: 0.4em;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
}
#main .block .secondary-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#main .block .secondary-navigation ul li { float: left; }
#main .block .secondary-navigation ul li a {
  display: block;
  padding: 0.75em 1em 0.55em 1em;
  text-decoration: none;
}
#main .block .secondary-navigation ul li span {
  display: block;
  padding: 0.75em 1em 0.55em 1em;
  text-decoration: none;
}
#main .block .secondary-navigation ul li.first {
  border-top-left-radius: 0.4em;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
}
#main .block .secondary-navigation ul li.first a {
  border-top-left-radius: 0.4em;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
}
#main .block .secondary-navigation ul li.first a:hover {
  border-top-left-radius: 0.4em;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
}
#main .block .content { padding: 1.2em; }
#main .block .content h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 0.4em;
  font-size: 2em;
}
#main .block .content .inner {
  padding: 0;
  margin: 0;
}
#sidebar h3 {
  margin: 0;
  padding: 0.75em 1em 0.55em 1em;
  font-size: 1.2em;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-top-left-radius: 0.4em;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
}
#sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1;
}
#sidebar ul.navigation li a {
  display: block;
  padding: 1em 1.2em;
  text-decoration: none;
}
#sidebar .block {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
}
#sidebar .block .content { padding: 1em 1em 0 1em; }
#sidebar .block .content p { margin: 0; }
#sidebar .notice { padding: 1em; }
#sidebar .sidebar-block { padding: 1em; }
#box .block { margin-bottom: 20px; }
#box .block h1 { font-size: 2.75em; }
#box .block h2 {
  padding: 0.5em 0.8em;
  font-size: 1.5em;
  margin: 0;
}
#box .block .content { padding: 1em 1.5em; }
#footer .block {
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
}
#footer .block p {
  margin: 0;
  padding: 0.9em;
}
#main-navigation {
  width: 100%;
  font-size: 1.3em;
  line-height: 1;
  border-top-left-radius: 0.4em;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
}
#main-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#main-navigation ul li {
  float: left;
  border-top-left-radius: 0.4em;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
}
#main-navigation ul li a {
  display: block;
  padding: 0.7em 1.2em;
  text-decoration: none;
}
#user-navigation {
  position: absolute;
  right: 1.5em;
  bottom: 0.2em;
  line-height: 1;
}
#user-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#user-navigation ul li {
  float: left;
  padding: 0 0.5em;
  height: 2.5em;
  line-height: 2.5em;
}
#user-navigation ul li a {
  padding: 0.4em;
  text-decoration: none;
}
#user-navigation ul li span {
  padding: 0.4em;
  text-decoration: none;
}
#user-navigation ul li button {
  padding: 0.4em;
  text-decoration: none;
}
#user-navigation ul li input {
  padding: 0.4em;
  text-decoration: none;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.25em;
}
.table th {
  font-weight: bold;
  text-align: left;
}
.table th:first-child {
  border-top-left-radius: 0.4em;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
}
.table th:last-child {
  border-top-right-radius: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
}
.table th { padding: 0.8em; }
.table th form { display: inline; }
.table th form div { display: inline; }
.table td { padding: 0.8em; }
.table td form { display: inline; }
.table td form div { display: inline; }
.table td.last { text-align: right; }
.actions-bar {
  padding: 1em 1px;
  line-height: 2;
}
.actions-bar .actions {
  float: left;
  line-height: 1;
}
.actions-bar .actions a {
  margin-right: 0.45em;
  padding: 0.35em 0.45em;
  display: block;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  text-decoration: none;
  float: left;
}
.actions-bar .actions input {
  margin-right: 0.45em;
  padding: 0.35em 0.45em;
  display: block;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  text-decoration: none;
  float: left;
}
.actions-bar .pagination {
  line-height: 1;
  float: right;
  padding: 1px 0;
}
.pagination a {
  display: block;
  float: left;
  padding: 0.35em 0.45em;
  margin-right: 0.45em;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
.pagination span {
  display: block;
  float: left;
  padding: 0.35em 0.45em;
  margin-right: 0.45em;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}
.pagination span.current { font-weight: bold; }
.pagination a { text-decoration: none; }
.form .group { margin-bottom: 1.25em; }
.form div.left {
  width: 20%;
  float: left;
}
.form div.right {
  width: 75%;
  float: right;
}
.form .columns .column { width: 48%; }
.form .columns .left { float: left; }
.form .columns .right { float: right; }
.form label.label {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
.form input.text_field {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
.form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
.form label.right { text-align: right; }
.form input.checkbox { margin-right: 0.5em; }
.form input.radio { margin-right: 0.5em; }
.form label.checkbox { line-height: 1.5em; }
.form label.radio { line-height: 1.5em; }
.form label.label {
  display: block;
  padding-bottom: 0.2em;
  font-weight: bold;
}
.form div.fieldWithErrors label.label { display: inline; }
.form .fieldWithErrors .error { color: red; }
.form input.text_field {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}
.form textarea.text_area {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}
ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.list li {
  clear: left;
  padding-bottom: 5px;
}
ul.list li .left { float: left; }
ul.list li .left .avatar {
  width: 50px;
  height: 50px;
}
ul.list li .item { margin-left: 80px; }
ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
}
.ui-datepicker select.ui-datepicker-month { width: 48%; }
.ui-datepicker select.ui-datepicker-year { width: 48%; }
.ui-widget {
  font-size: 93%;
  line-height: 1;
}
#color_schemes {
  nav: #ffffff;
  nav-bg: #36393d;
  nav-dark-bg: #1a1a1a;
  nav-hover-bg: #666666;
  disabled: #888888;
  body-color: #222222;
}
html { background: #cfcfcf; }
body {
  color: #222222;
  background: #cfcfcf;
  font-family: helvetica, arial, sans-serif;
}
#header_wrapper { background: #36393d; }
#header h1 { font-weight: bold; }
#header h1 a { color: #ffffff; }
#main .block .content { background: #ffffff; }
#main .block .content h2 { font-weight: bold; }
#footer .block {
  color: #ffffff;
  background: #1a1a1a;
}
#sidebar h3 {
  background: #36393d;
  color: #ffffff;
  border-color: #1a1a1a;
}
#sidebar ul li a:link {
  background: #ffffff;
  border-bottom: 1px solid #f0f0ee;
  text-decoration: none;
}
#sidebar ul li a:visited {
  background: #ffffff;
  border-bottom: 1px solid #f0f0ee;
  text-decoration: none;
}
#sidebar ul li a:hover {
  background: #666666;
  color: #ffffff;
}
#sidebar ul li a:active {
  background: #666666;
  color: #ffffff;
}
#sidebar .block { background: #ffffff; }
#sidebar .block h4 { font-weight: bold; }
#sidebar .notice { background: #e6eefc; }
#sidebar .notice h4 { color: #0b43a8; }
#box .block h2 {
  background: #36393d;
  color: #ffffff;
  border-top-left-radius: 0.4em;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
}
#box .block .content { background: #ffffff; }
#main-navigation { background: #1a1a1a; }
#main-navigation ul li { background: #1a1a1a; }
#main-navigation ul li a { color: #ffffff; }
#main-navigation ul li.active { background: #f0f0ee; }
#main-navigation ul li.active a { color: #1a1a1a; }
#main-navigation ul li.active a:link { color: #1a1a1a; }
#main-navigation ul li.active a:visited { color: #1a1a1a; }
#main-navigation ul li.active a:hover { color: #1a1a1a; }
#main-navigation ul li.active a:active { color: #1a1a1a; }
#user-navigation ul li span { color: #ffffff; }
#user-navigation ul li span:link { color: #ffffff; }
#user-navigation ul li span:visited { color: #ffffff; }
#user-navigation ul li span:hover { color: #ffffff; }
#user-navigation ul li span:active { color: #ffffff; }
#user-navigation ul li a { color: #ffffff; }
#user-navigation ul li a:link { color: #ffffff; }
#user-navigation ul li a:visited { color: #ffffff; }
#user-navigation ul li a:hover { color: #ffffff; }
#user-navigation ul li a:active { color: #ffffff; }
#user-navigation ul li .logout {
  background-color: red;
  color: #ffffff;
  border: 0px solid #999999;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  cursor: pointer;
}
.secondary-navigation {
  background: #36393d;
  border-bottom-color: #1a1a1a;
}
.secondary-navigation li a:hover { background: #666666; }
.secondary-navigation ul li.active { background-color: #1a1a1a; }
.secondary-navigation ul li.active a:hover { background-color: #1a1a1a; }
.secondary-navigation ul li a { color: #ffffff; }
.secondary-navigation ul li a:link { color: #ffffff; }
.secondary-navigation ul li a:visited { color: #ffffff; }
.secondary-navigation ul li a:hover { color: #ffffff; }
.secondary-navigation ul li a:active { color: #ffffff; }
.secondary-navigation ul li span { color: #ffffff; }
.secondary-navigation ul li span:link { color: #ffffff; }
.secondary-navigation ul li span:visited { color: #ffffff; }
.secondary-navigation ul li span:hover { color: #ffffff; }
.secondary-navigation ul li span:active { color: #ffffff; }
.small {
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em;
}
.table th {
  background: #36393d;
  color: #ffffff;
}
.table th a { color: #ffffff; }
.table td { border-bottom: 1px solid #f0f0ee; }
.table tr.even { background: #ebebeb; }
.actions-bar .actions a {
  background: #cfcfcf;
  border: 1px solid #c1c1c1;
}
.actions-bar .actions a:hover { border: 1px solid #36393d; }
.actions-bar .actions input {
  background: #cfcfcf;
  border: 1px solid #c1c1c1;
}
.actions-bar .actions input:hover { border: 1px solid #36393d; }
.pagination a {
  background: #cfcfcf;
  border: 1px solid #c1c1c1;
}
.pagination span {
  background: #cfcfcf;
  border: 1px solid #c1c1c1;
}
.pagination span.disabled { color: #888888; }
.pagination span.current {
  background: #36393d;
  color: #ffffff;
  border: 1px solid #36393d;
}
.pagination a { color: #1a1a1a; }
.pagination a:hover { border: 1px solid #36393d; }
.formtastic ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.formtastic ol li { margin-bottom: 1em; }
.formtastic ol .required abbr {
  line-height: 1;
  color: red;
  border: none;
}
.formtastic ol .error {
  border-left: 0.3em solid red;
  padding-left: 1em;
}
.formtastic ol .error .inline-errors {
  color: red;
  margin: 0;
  font-size: 1.1em;
  margin-top: 0.2em;
}
.formtastic ol .string label {
  font-size: 1.2em;
  color: #666666;
  display: block;
  padding-bottom: 0.2em;
}
.formtastic ol .string input {
  display: inline;
  padding: 0.1em 0.2em;
}
.formtastic ol .string .inline-hints {
  margin: 0 0 0 1em;
  font-style: italic;
  display: inline;
  color: #888888;
}
.formtastic ol .select label {
  font-size: 1.2em;
  color: #666666;
  display: block;
  padding-bottom: 0.2em;
}
.formtastic ol .select input {
  display: inline;
  padding: 0.1em 0.2em;
}
.formtastic ol .select .inline-hints {
  margin: 0 0 0 1em;
  font-style: italic;
  display: inline;
  color: #888888;
}
.formtastic ol .text label {
  font-size: 1.2em;
  color: #666666;
  display: block;
  padding-bottom: 0.2em;
}
.formtastic ol .text input {
  display: inline;
  padding: 0.1em 0.2em;
}
.formtastic ol .text .inline-hints {
  margin: 0 0 0 1em;
  font-style: italic;
  display: inline;
  color: #888888;
}
.formtastic ol .numeric label {
  font-size: 1.2em;
  color: #666666;
  display: block;
  padding-bottom: 0.2em;
}
.formtastic ol .numeric input {
  display: inline;
  padding: 0.1em 0.2em;
}
.formtastic ol .numeric .inline-hints {
  margin: 0 0 0 1em;
  font-style: italic;
  display: inline;
  color: #888888;
}
.formtastic ol .file label {
  font-size: 1.2em;
  color: #666666;
  display: block;
  padding-bottom: 0.2em;
}
.formtastic ol .file input {
  display: inline;
  padding: 0.1em 0.2em;
}
.formtastic ol .file .inline-hints {
  margin: 0 0 0 1em;
  font-style: italic;
  display: inline;
  color: #888888;
}
.formtastic ol .password label {
  font-size: 1.2em;
  color: #666666;
  display: block;
  padding-bottom: 0.2em;
}
.formtastic ol .password input {
  display: inline;
  padding: 0.1em 0.2em;
}
.formtastic ol .password .inline-hints {
  margin: 0 0 0 1em;
  font-style: italic;
  display: inline;
  color: #888888;
}
.formtastic ol .boolean label {
  font-size: 1.2em;
  color: #666666;
  display: block;
  padding-bottom: 0.2em;
}
.formtastic ol .boolean input {
  display: inline;
  padding: 0.1em 0.2em;
}
.formtastic ol .boolean .inline-hints {
  margin: 0 0 0 1em;
  font-style: italic;
  display: inline;
  color: #888888;
}
.formtastic ol .boolean label input { margin-right: 0.5em; }
.formtastic ol .check_boxes fieldset .label { padding-bottom: 0.2em; }
.formtastic ol .check_boxes fieldset .label label { font-size: 1.2em; }
.formtastic ol .check_boxes fieldset ol li {
  float: left;
  margin-right: 0.5em;
}
.formtastic ol .check_boxes fieldset ol li label {
  font-size: 1em;
  color: #222222;
}
.formtastic fieldset.inputs {
  border-top: 1px solid #999999;
  padding: 1em 1em 0 1em;
}
.formtastic fieldset.inputs legend { color: #666666; }
.formtastic fieldset.inputs legend span { font-size: 1.3em; }
.formtastic fieldset.buttons { padding: 0 1em 1em 1em; }
.formtastic fieldset.buttons ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.formtastic fieldset.buttons ol li {
  float: left;
  line-height: 2;
  margin-right: 0.5em;
}
.formtastic fieldset.buttons ol .commit input {
  background: #cfcfcf;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 0.2em 0.5em;
  cursor: pointer;
  font-weight: bold;
}
.formtastic fieldset.buttons ol .commit input:hover { border: 1px solid #666666; }
.formtastic fieldset.buttons ol .cancel a { color: #cc0000; }
.sidebar-block .formtastic { margin-right: 1em; }
.sidebar-block .formtastic .string input { width: 100%; }
.sidebar-block .formtastic .select input { width: 100%; }
.sidebar-block .formtastic .text input { width: 100%; }
.sidebar-block .formtastic .numeric input { width: 100%; }
.sidebar-block .formtastic .file input { width: 100%; }
.sidebar-block .formtastic .password input { width: 100%; }
.sidebar-block .formtastic .boolean input { width: 100%; }
.sidebar-block .formtastic fieldset.inputs {
  border: none;
  padding: 0;
  margin: 0;
}
.sidebar-block .formtastic fieldset.buttons {
  border: none;
  padding: 0;
  margin: 0;
}
.sidebar-block .formtastic fieldset.buttons li { margin-bottom: 0; }
.form label.label { color: #666666; }
.form input.text_field { border: 1px solid #cfcfcf; }
.form textarea.text_area { border: 1px solid #cfcfcf; }
.form input.button {
  background: #cfcfcf;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 2px 5px;
  cursor: pointer;
  font-weight: bold;
}
.form input.button:hover { border: 1px solid #666666; }
.form input.button[disabled] { color: #888888; }
.form .description {
  font-style: italic;
  color: #8c8c8c;
  font-size: 0.9em;
}
.form .navform a { color: #cc0000; }
ul.list li {
  border-bottom-color: #f0f0ee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
ul.list li .item .avatar {
  border-color: #f0f0ee;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}
.flash .message {
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  text-align: center;
  margin: 0 auto 15px;
}
.flash .message p { margin: 0.75em; }
.flash .error {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd;
}
.flash .warning {
  border: 1px solid #e3da4c;
  background-color: #ffffcc;
}
.flash .notice {
  border: 1px solid #1fdf00;
  background-color: #bbffb6;
}
.gray {
  color: #999999;
  font-family: serif;
  font-style: italic;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.6em;
}
.hightlight {
  color: #36393d;
  background-color: #ffff88;
  font-weight: bold;
}
a:link { color: #36393d; }
a:visited { color: #36393d; }
a:hover { color: #36393d; }
a:active { color: #36393d; }
h1, h2, h3 { color: #36393d; }
a { -moz-outline: none; }
hr {
  background: #f0f0ee;
  color: #f0f0ee;
}
