html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body { line-height: 1.5; }
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
table, td, th { vertical-align: middle; }
blockquote:before { content: ""; }
blockquote:after { content: ""; }
q:before { content: ""; }
q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
body {
  font-size: 75%;
  color: #222222;
  background: #ffffff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #111111;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
}
h1 img { margin: 0; }
h2 img { margin: 0; }
h3 img { margin: 0; }
h4 img { margin: 0; }
h5 img { margin: 0; }
h6 img { margin: 0; }
p { margin: 0 0 1.5em; }
p img.left {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p img.right {
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
}
a:focus { color: #000000; }
a:hover { color: #000000; }
a {
  color: #000099;
  text-decoration: underline;
}
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666666; }
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del { color: #666666; }
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul { margin: 0 1.5em; }
li ol { margin: 0 1.5em; }
ul, ol { margin: 0 1.5em 1.5em 1.5em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th { font-weight: bold; }
thead th { background: #c3d9ff; }
th, td, caption { padding: 4px 10px 4px 5px; }
tr.even td { background: #e5ecf9; }
tfoot { font-style: italic; }
caption { background: #eeeeee; }
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
.hide { display: none; }
.quiet { color: #666666; }
.loud { color: #000000; }
.highlight { background: #ffff00; }
.added {
  background: #006600;
  color: #ffffff;
}
.removed {
  background: #990000;
  color: #ffffff;
}
.first {
  margin-left: 0;
  padding-left: 0;
}
.last {
  margin-right: 0;
  padding-right: 0;
}
.top {
  margin-top: 0;
  padding-top: 0;
}
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
thead th { background-color: transparent; }
body {
  line-height: 1;
  font-size: 80%;
}
.clear { clear: both; }
h1, h2 { margin: 15px 0; }
h3, h4 { margin: 10px 0; }
hr {
  height: 1px;
  border: 0;
}
p { margin: 15px 0; }
#container { min-width: 1050px; }
#header, #page { margin: 0 40px; }
#header { position: relative; }
#header h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 30px;
}
#header h1 a { text-decoration: none; }
.sidebar #main {
  width: 78%;
  float: left;
}
.actions-bar { padding: 10px 1px; }
.actions-bar .actions { float: left; }
.actions-bar .pagination {
  float: right;
  padding: 1px 0;
}
#sidebar {
  width: 21%;
  float: right;
}
#sidebar h3 {
  padding: 10px 15px;
  margin: 0;
  font-size: 1.2em;
}
#sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
#sidebar .block .content { padding: 0 15px; }
#sidebar .block .sidebar-block { padding: 10px; }
#sidebar .notice { padding: 10px; }
#sidebar ul.navigation li a:link {
  display: block;
  padding: 10px 15px;
}
#sidebar ul.navigation li a:visited {
  display: block;
  padding: 10px 15px;
}
#page { padding-top: 20px; }
#main .block { margin-bottom: 20px; }
#main .block .content .inner { padding: 0 15px 15px; }
#user-navigation {
  position: absolute;
  right: 20px;
  bottom: 5px;
}
#main-navigation { width: 100%; }
#main-navigation ul li a {
  font-size: 1.3em;
  display: block;
  padding: 8px 15px;
}
#user-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#main-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.secondary-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#user-navigation ul li { float: left; }
#main-navigation ul li { float: left; }
.secondary-navigation ul li { float: left; }
#main-navigation ul li { margin-right: 5px; }
#user-navigation ul li { padding: 5px 10px; }
#main-navigation ul li a:link { text-decoration: none; }
#main-navigation ul li a:visited { text-decoration: none; }
#main-navigation ul li a:hover { text-decoration: none; }
#main-navigation ul li a:active { text-decoration: none; }
.secondary-navigation ul li a:link { text-decoration: none; }
.secondary-navigation ul li a:visited { text-decoration: none; }
.secondary-navigation ul li a:hover { text-decoration: none; }
.secondary-navigation ul li a:active { text-decoration: none; }
#user-navigation ul li a:link { text-decoration: none; }
#user-navigation ul li a:visited { text-decoration: none; }
#user-navigation ul li a:hover { text-decoration: none; }
#user-navigation ul li a:active { text-decoration: none; }
.secondary-navigation {
  font-size: 1.2em;
  border-bottom-width: 10px;
  border-bottom-style: solid;
}
.secondary-navigation ul li a {
  display: block;
  padding: 10px 15px;
}
.secondary-navigation ul li span {
  display: block;
  padding: 10px 15px;
}
#footer { padding-bottom: 20px; }
.pagination a {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}
.pagination span {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}
.pagination span.current { font-weight: bold; }
.pagination a { text-decoration: none; }
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
.table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}
.table .checkbox { margin-left: 10px; }
.table td { padding: 10px; }
.table td form { display: inline; }
.table td form div { display: inline; }
.table td.last { text-align: right; }
input.checkbox {
  margin: 0;
  padding: 0;
}
.form .group { margin-bottom: 15px; }
.form div.left {
  width: 20%;
  float: left;
}
.form div.right {
  width: 75%;
  float: right;
}
.form .columns .column { width: 48%; }
.form .columns .left { float: left; }
.form .columns .right { float: right; }
.form label.label {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
.form input.text_field {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
.form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
.form label.right { text-align: right; }
.form input.checkbox { margin-right: 5px; }
.form input.radio { margin-right: 5px; }
.form label.checkbox { line-height: 1.5em; }
.form label.radio { line-height: 1.5em; }
.form label.label {
  display: block;
  padding-bottom: 2px;
  font-weight: bold;
}
.form div.fieldWithErrors label.label { display: inline; }
.form .fieldWithErrors .error { color: red; }
.form input.text_field {
  border-width: 1px;
  border-style: solid;
}
.form textarea.text_area {
  border-width: 1px;
  border-style: solid;
}
ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.list li {
  clear: left;
  padding-bottom: 5px;
}
ul.list li .left { float: left; }
ul.list li .left .avatar {
  width: 50px;
  height: 50px;
}
ul.list li .item { margin-left: 80px; }
ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
}
#box {
  width: 500px;
  margin: 50px auto;
}
#box .block { margin-bottom: 20px; }
#box .block h2 {
  padding: 10px 15px;
  margin: 0;
}
#box .block .content { padding: 10px 20px; }
#color_schemes { disabled: #888888; }
.small {
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em;
}
.gray {
  color: #999999;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.6em;
}
.hightlight {
  background-color: #ffff88;
  font-weight: bold;
  color: #36393d;
}
a:link { color: #36393d; }
a:visited { color: #36393d; }
a:hover { color: #36393d; }
a:active { color: #36393d; }
h1, h2, h3 { color: #36393d; }
a { -moz-outline: none; }
body {
  color: #222222;
  background: #cfcfcf;
  font-family: helvetica, arial, sans-serif;
}
hr {
  background: #f0f0ee;
  color: #f0f0ee;
}
#header_wrapper { background: #36393d; }
#header h1 {
  padding: 15px 0;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
}
#header h1 a { color: #ffffff; }
#user-navigation a.logout {
  background: #cc0000;
  padding: 1px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 3px;
}
#user-navigation input.logout {
  background: #cc0000;
  color: #ffffff;
  padding: 0;
  padding-top: 1px;
  border: 0px solid #999999;
  -moz-border-radius: 4px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}
#user-navigation ul li {
  padding: 0px 10px;
  height: 1.66em;
  line-height: 1.66em;
}
#main .block .content {
  background: #ffffff;
  padding-top: 1px;
}
#main .block .content h2 {
  margin-left: 15px;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
}
#main .block .content p {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.45em;
}
#sidebar .block { background: #ffffff; }
#sidebar .block h4 { font-weight: bold; }
#sidebar .notice { background: #e6eefc; }
#sidebar .notice h4 { color: #0b43a8; }
#sidebar h3 {
  background: #36393d;
  color: #ffffff;
  border-bottom: 5px solid #1a1a1a;
}
#sidebar ul li a:link {
  background: #ffffff;
  border-bottom: 1px solid #f0f0ee;
  text-decoration: none;
}
#sidebar ul li a:visited {
  background: #ffffff;
  border-bottom: 1px solid #f0f0ee;
  text-decoration: none;
}
#sidebar ul li a:hover {
  background: #666666;
  color: #ffffff;
}
#sidebar ul li a:active {
  background: #666666;
  color: #ffffff;
}
#main-navigation ul li { padding-left: 15px; }
#main-navigation ul li a { padding: 10px 0px; }
#main-navigation ul li.active {
  padding: 0;
  margin-left: 15px;
}
#main-navigation ul li.active a { padding: 10px 15px; }
#user-navigation ul li a { color: #ffffff; }
#user-navigation ul li a:link { color: #ffffff; }
#user-navigation ul li a:visited { color: #ffffff; }
#user-navigation ul li a:hover { color: #ffffff; }
#user-navigation ul li a:active { color: #ffffff; }
#main-navigation ul li a { color: #ffffff; }
#main-navigation ul li a:link { color: #ffffff; }
#main-navigation ul li a:visited { color: #ffffff; }
#main-navigation ul li a:hover { color: #ffffff; }
#main-navigation ul li a:active { color: #ffffff; }
.secondary-navigation ul li a { color: #ffffff; }
.secondary-navigation ul li a:link { color: #ffffff; }
.secondary-navigation ul li a:visited { color: #ffffff; }
.secondary-navigation ul li a:hover { color: #ffffff; }
.secondary-navigation ul li a:active { color: #ffffff; }
#main-navigation { background: #1a1a1a; }
#main-navigation ul li {
  background: #1a1a1a;
  margin-right: 0;
}
#main-navigation ul li.active { background: #f0f0ee; }
#main-navigation ul li.active a { color: #1a1a1a; }
#main-navigation ul li.active a:link { color: #1a1a1a; }
#main-navigation ul li.active a:visited { color: #1a1a1a; }
#main-navigation ul li.active a:hover { color: #1a1a1a; }
#main-navigation ul li.active a:active { color: #1a1a1a; }
.secondary-navigation {
  background: #36393d;
  border-bottom-color: #1a1a1a;
  border-bottom-width: 5px;
}
.secondary-navigation li a:hover { background: #666666; }
.secondary-navigation ul li.active { background-color: #1a1a1a; }
.secondary-navigation ul li.active a:hover { background-color: #1a1a1a; }
#footer .block {
  color: #ffffff;
  background: #1a1a1a;
}
#footer .block p {
  margin: 0;
  padding: 10px;
}
.pagination a {
  background: #cfcfcf;
  -moz-border-radius: 3px;
  border: 1px solid #c1c1c1;
}
.pagination span {
  background: #cfcfcf;
  -moz-border-radius: 3px;
  border: 1px solid #c1c1c1;
}
.pagination span.disabled { color: #color_schemes[disabled]; }
.pagination span.current {
  background: #36393d;
  color: #ffffff;
  border: 1px solid #36393d;
}
.pagination a { color: #1a1a1a; }
.pagination a:hover { border: 1px solid #666666; }
.table th {
  background: #36393d;
  color: #ffffff;
}
.table th a { color: #ffffff; }
.table td { border-bottom: 1px solid #f0f0ee; }
.table tr.even { background: #ebebeb; }
.form label.label { color: #666666; }
.form input.text_field { border: 1px solid #cfcfcf; }
.form textarea.text_area { border: 1px solid #cfcfcf; }
.form input.button {
  background: #cfcfcf;
  -moz-border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 2px 5px;
  cursor: pointer;
  font-weight: bold;
}
.form input.button:hover { border: 1px solid #666666; }
.form input.button[disabled] { color: #color_schemes[disabled]; }
.form .description {
  font-style: italic;
  color: #8c8c8c;
  font-size: 0.9em;
}
.form .navform a { color: #cc0000; }
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  margin: 0 auto 15px;
}
.flash .message p { margin: 8px; }
.flash .error {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd;
}
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}
.flash .notice {
  border: 1px solid #1fdf00;
  background-color: #bbffb6;
}
ul.list li {
  border-bottom-color: #f0f0ee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
ul.list li .item .avatar {
  border-color: #f0f0ee;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}
#box .block { background: #ffffff; }
#box .block h2 {
  background: #36393d;
  color: #ffffff;
}
#main, #main-navigation {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#main-navigation li {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
.secondary-navigation {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#main .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#sidebar .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#sidebar h3 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
ul.list li {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#footer .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
.form input.button {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#box .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
#box .block h2 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
.secondary-navigation li.first a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
.secondary-navigation ul li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
.table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
.table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
.table th.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
.secondary-navigation ul li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
#sidebar {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#sidebar .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#main .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#sidebar ul.navigation {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
ul.list li {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#footer .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
.form input.button {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
#box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
